html,body,#root,.App{
  width: 100vw;
  height: 100vh;
}


.calc {
  width: 200px;
  height: 270px;
  background-color: #444;
  /* padding-top: 10px; */
  position: absolute;
  margin-top: calc( 50vh - 135px);
  margin-left: calc( 50vw - 100px);
}

.screen {
  width: 80%;
  height: 25px;
  background-color:black;
  margin: 20px auto;
  color: white;
  text-align: right;
}

.pad {
  width: 160px;
  margin: auto;
}

.pad button {
  width: 40px;
  height: 40px;
  font-size: 22px;
}

.pad button.egale {
  width: 80px;
  height: 40px;
  font-size: 22px;
}

.bar {
  width: 100%;
  height: 20px;
  background-color: teal;
}