.calc {
  width: 200px;
  height: 250px;
  background-color: #444;
  padding-top: 10px;
}


.screen {
  width: 80%;
  height: 25px;
  background-color:black;
  margin: 20px auto;
  color: white;
  text-align: right;
}

.pad {
  width: 160px;
  margin: auto;
}

.pad button {
  width: 40px;
  height: 40px;
  font-size: 22px;
}

.pad button.egale {
  width: 80px;
  height: 40px;
  font-size: 22px;
}